# These owners will be the default owners for everything in the repo. 
# Unless a later match takes precedence.

# Below owners will be requested for review by default when a PR is raised.
* amsinghal@diligent.com  sjain@diligent.com